.menu {
    width: 6.30rem !important;
    background-color: #d6d6d6 !important;
    color: #522727 !important;
    padding-top: 0.25rem;
    padding-left: 1rem;
    padding-right: 0.5rem;
    padding-bottom: 1rem;
}